nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
ul{
  display: flex;
  gap: 4em;
}
li{
  text-decoration: none;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}